 .gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 1000px;
    list-style: none;
  }
   
  .nav {
      list-style: none;
      font-size: 30px;
      justify-content: space-between;
      
  }


 









